nav img {
  border-radius: 50%;
}

#jumbo {
  background-image: url("https://images.pexels.com/photos/1882020/pexels-photo-1882020.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav button:hover {
  transform: scale(1.2);
}

.main-heading {
  font-size: 40px;
  color: red !important;
}

.ratings i {
  color: orange;
}

.user-ratings h6 {
  margin-top: 2px;
}

.colors {
  display: flex;
  margin-top: 2px;
}

.colors span {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  margin-right: 6px;
}

.colors span:nth-child(1) {
  background-color: red;
}

.colors span:nth-child(2) {
  background-color: blue;
}

.colors span:nth-child(3) {
  background-color: yellow;
}

.colors span:nth-child(4) {
  background-color: purple;
}

.btn-danger {
  height: 48px;
  font-size: 18px;
}

.carousel-item {
  height: 400px;
}

.carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
